<form fxLayout="column" fxLayoutAlign="center center" [formGroup]="newOrderForm" (ngSubmit)="onSubmit()" autocomplete="off">

          
  
  
<mat-checkbox

 id="PumpNeeded"  
 name="ConcreteCheck"  
 formControlName="PumpNeeded"
 >האם נדרשת משאבה

</mat-checkbox>
<mat-form-field appearance="fill" *ngIf="newOrderForm.get('PumpNeeded').value">
<mat-label>כלי רכב</mat-label>
<mat-select

id="PumpType" 
placeholder="סוג משאבה"
name="PumpType"  
formControlName="PumpType"    
>
<mat-option *ngFor="let vehicle of VehiclesTypes" >{{vehicle}}</mat-option>

</mat-select>
</mat-form-field>  
</form>
