
<mat-card>
    <mat-card-title>כניסה</mat-card-title>
<mat-card-content>
<form [formGroup]="form" autocomplete="off" onSubmit="onSubmit()" >
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="שם משתמש" formControlName="username">
      <mat-error *ngIf="form.get('username').hasError('required')" >הכנס שם משתמש</mat-error> 
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="סיסמא" formControlName="password">
      <mat-error *ngIf="form.get('password').hasError('required')" >הכנס סיסמא</mat-error> 
    </mat-form-field>
    <mat-error *ngIf="!(form.get('username').hasError('required')&&form.get('password').hasError('required'))&&got" >שם משתמש וסיסמא אינם נכונים</mat-error> 
  </p>

 

  <div class="button">
    <button type="submit" mat-button>כניסה</button>
  </div>

</form>
</mat-card-content>
</mat-card>