<div style="background-color:	#F5F5F5;">
  <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
    <mat-icon class="icon">navigate_next</mat-icon>
    <span class="icon"> לפעולות באיזור האישי</span>
  </button>
  <span class="menu-spacer"></span>
  <div fxShow="true" fxHide.lt-md class="sidenav">
    <mat-nav-list fxLayout="column">
      <!-- fxFlex.sm="35"  fxFlex.md="30" fxFlex.xs="50"  fxFlex.lt-lg="50" -->
      <mat-list-item class="sidelink">
        <a matLine [routerLink]="['newOrder']" routerLinkActive="active">הזמנה חדשה</a>
      </mat-list-item>
      <mat-list-item class="sidelink">
        <a matLine [routerLink]="['order']" routerLinkActive="active">הזמנות פתוחות</a>
      </mat-list-item>
      <mat-list-item class="sidelink">
        <a matLine [routerLink]="['order/getAllOrders']" routerLinkActive="active">הזמנות שאושרו</a>
      </mat-list-item>
      <mat-list-item class="sidelink">
        <a matLine [routerLink]="['order/getAllOrders']" routerLinkActive="active">הזמנות הממתינות לאישור</a>
      </mat-list-item>
      <mat-list-item class="sidelink">
        <a matLine [routerLink]="['order/getAllOrders']" routerLinkActive="active">הזמנות שבוצעו</a>
      </mat-list-item>
      <mat-list-item class="sidelink">
        <a matLine [routerLink]="['order/']">מציאת הזמנה לפי תאריך</a>
      </mat-list-item>
      <mat-list-item class="sidelink">
        <a matLine [routerLink]="['order/getOrderbyId']"> מציאת הזמנה לפי מספר הזמנה </a>
      </mat-list-item>
    </mat-nav-list>
  </div>

  <mat-sidenav-container>
    <mat-sidenav-content class="content">
      <p>
        שלום לקוח
        <br />
      </p>
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <mat-list-item class="sidelink" fxLayoutAlign="start">
            <a matLine [routerLink]="['newOrder']" routerLinkActive="active">הזמנה חדשה</a>
          </mat-list-item>
          <mat-list-item class="sidelink" fxLayoutAlign="start">
            <a matLine [routerLink]="['order']" routerLinkActive="active">הזמנות פתוחות</a>
          </mat-list-item>
          <mat-list-item class="sidelink" fxLayoutAlign="start">
            <a matLine [routerLink]="['order/getAllOrders']" routerLinkActive="active">הזמנות שאושרו</a>
          </mat-list-item>
          <mat-list-item class="sidelink" fxLayoutAlign="start">
            <a matLine [routerLink]="['order/']">הזמנות הממתינות לאישור</a>
          </mat-list-item>
          <mat-list-item class="sidelink" fxLayoutAlign="start">
            <a matLine [routerLink]="['order/getOrderbyId']"> הזמנות שבוצעו</a>
          </mat-list-item>
          <mat-list-item class="sidelink" fxLayoutAlign="start">
            <a matLine [routerLink]="['order']">מציאת הזמנה לפי תאריך</a>
          </mat-list-item>
          <mat-list-item class="sidelink" fxLayoutAlign="start">
            <a matLine [routerLink]="['order/addOrder']">מציאת הזמנה לפי מספר הזמנה </a>
          </mat-list-item>
          <a (click)="sidenav.toggle()" mat-list-item class="link" class="sidelink" fxLayoutAlign="start">סגור</a>
        </mat-nav-list>

      </mat-sidenav>

<router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>