<div fxFlex="auto">
    <div class="sidenav">
      <mat-nav-list>
        <!-- fxFlex.sm="35"  fxFlex.md="30" fxFlex.xs="50"  fxFlex.lt-lg="50" -->
       <mat-list-item class="sidelink">
               <a matLine [routerLink]="['driverTaskShow]" routerLinkActive="active">הזמנות חדשות</a>
            </mat-list-item>
            <mat-list-item class="sidelink">
              <a matLine [routerLink]="['driverTaskDone']" routerLinkActive="active">הזמנות שנעשו</a>
           </mat-list-item>
          </mat-nav-list>
    </div>

  <div class="content" fxLayout="column">
      <router-outlet></router-outlet>
  </div>
</div>
