<form fxLayout="column" fxLayoutAlign="center center" [formGroup]="newConcreteForm" (ngChange)="change()" autocomplete="off">
<label id="example-radio-group-label">סוג בטון</label>
<mat-radio-group
aria-labelledby="example-radio-group-label"
class="example-radio-group"
id="ConcreteType" 
name="ConcreteType"  
formControlName="ConcreteType"
>
<mat-radio-button class="example-radio-button" *ngFor="let b of ConcreteType,let i" [value]="i">
{{b.Name}}
</mat-radio-button>
</mat-radio-group>
<label id="example-radio-group-label">תאור</label>
<mat-radio-group
aria-labelledby="example-radio-group-label"
class="example-radio-group"
id="ConcDesc" 
name="ConcDesc"  
formControlName="ConcDesc"
>
<mat-radio-button class="example-radio-button" *ngFor="let b of ConcDesc,let i" [value]="i">
{{b.Name}}
</mat-radio-button>
</mat-radio-group>
<label id="example-radio-group-label">שקיעה</label>
<mat-radio-group
aria-labelledby="example-radio-group-label"
class="example-radio-group"
id="Deep" 
name="Deep"  
formControlName="Deep"
>
<mat-radio-button class="example-radio-button" *ngFor="let b of Deep,let i" [value]="i">
{{b.Name}}
</mat-radio-button>
</mat-radio-group>
<label id="example-radio-group-label">חשיפה</label>
<mat-radio-group
aria-labelledby="example-radio-group-label"
class="example-radio-group"
id="Exposure" 
name="Exposure"  
formControlName="Exposure"
>
<mat-radio-button class="example-radio-button" *ngFor="let b of Exposure,let i" [value]="i">
 {{b.Name}}
</mat-radio-button>
</mat-radio-group>
<label id="example-radio-group-label">תוספת</label>
<mat-radio-group
aria-labelledby="example-radio-group-label"
class="example-radio-group"
id="Extention" 
name="Extention"  
formControlName="Extention"
>
 <mat-radio-button class="example-radio-button" *ngFor="let b of Extention,let i" [value]="i">
{{b.Name}}
 </mat-radio-button>
</mat-radio-group>
</form>
