<div fxFlex style="background-color:	#F5F5F5;"> 
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon class="icon">navigate_next</mat-icon>
      <span class="icon"> פעולות </span>
    </button>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md class="sidenav">
      <mat-nav-list  fxLayout="column">
        <!-- fxFlex.sm="35"  fxFlex.md="30" fxFlex.xs="50"  fxFlex.lt-lg="50" -->
       <mat-list-item class="sidelink">
               <a matLine [routerLink]="['mangerRegister']" routerLinkActive="active">הוספת מנהל</a>
            </mat-list-item>
            <mat-list-item class="sidelink">
              <a matLine [routerLink]="['driverRegister']" routerLinkActive="active">הוספת נהג</a>
           </mat-list-item>
           <mat-list-item class="sidelink">
            <a matLine [routerLink]="['providerRegister']">הוספת ספק</a>
          </mat-list-item>
          <mat-list-item class="sidelink">
            <a matLine [routerLink]="['customerRegister']"> הוספת לקוח </a>
          </mat-list-item>
          <mat-list-item class="sidelink">
            <a matLine [routerLink]="['addVehicle']" >הוספת כלי רכב</a>
          </mat-list-item>
          <mat-list-item class="sidelink">
            <a matLine [routerLink]="['addMaterial']" >הוספת חומר</a>
          </mat-list-item>
          </mat-nav-list> 
    </div>

  <mat-sidenav-container>
    <mat-sidenav-content class="content">
      <p class="text-orange display-4">
       שלום מנהל
      <br/>
      </p>
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <mat-list-item class="sidelink" fxLayoutAlign="start">
            <a matLine [routerLink]="['mangerRegister']" routerLinkActive="active">הוספת מנהל</a>
         </mat-list-item>
         <mat-list-item class="sidelink" fxLayoutAlign="start">
           <a matLine [routerLink]="['driverRegister']" routerLinkActive="active">הוספת נהג</a>
        </mat-list-item>
        <mat-list-item class="sidelink" fxLayoutAlign="start">
         <a matLine [routerLink]="['providerRegister']">הוספת ספק</a>
       </mat-list-item>
       <mat-list-item class="sidelink" fxLayoutAlign="start">
         <a matLine [routerLink]="['customerRegister']"> הוספת לקוח </a>
       </mat-list-item>
       <mat-list-item class="sidelink" fxLayoutAlign="start">
         <a matLine [routerLink]="['addVehicle']" >הוספת כלי רכב</a>
       </mat-list-item>
       <mat-list-item class="sidelink" fxLayoutAlign="start">
        <a matLine [routerLink]="['addMaterial']" >הוספת חומר</a>
      </mat-list-item>
      
          <a (click)="sidenav.toggle()" mat-list-item class="link" class="sidelink" fxLayoutAlign="start">סגור</a>
        </mat-nav-list>
      </mat-sidenav>
   
    <router-outlet></router-outlet>
   

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
