
.text-orange{
    color: orangered;
}

.mat-toolbar{
    background-color:linen;
}

.sidenav{ 

    float:right;
    height: 600px;
    background-color:	#E8E8E8;
    margin-top: 20px;
      
}
.sidelink{
   
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   color:coral;
   font-size: 15px;
  font-weight: normal;


  /* margin: 3%; */
    /* size:45%; */
  
    
}
.sidelink:hover{
    color: orangered;
}

  .content{
    background-color:	#F5F5F5;
     text-align: center; 
     height: 400px;
     width:100%;
  }
  /* @media screen and (max-width:400px){
    .sidenav{
        width:20%;
        
       
    }
    .mat-list-item .mat-nav-list {
        font-size: 7px;
        height: 10px; /* default is 72px */
        /* padding: 0!important; */
/*        
    }
  }  */ 

  .icon{
      color: orangered;
      font-weight: bold;
      size: 30px;
      
  }