
    <mat-card>
    <mat-card-title>דווח עבודה</mat-card-title>
    <mat-card-content>
       
     
    <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="driverTaskForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <mat-form-field appearance="fill">
            <mat-label>Favorite food</mat-label>
            <mat-select>
              <mat-option >fff</mat-option>
              <mat-option >gg</mat-option>
              <mat-option >ee</mat-option>
            </mat-select>
          </mat-form-field>
        <material-timepicker color="primary" label="שעת התחלה" appearance="standard" [userTime]="exportTime" (change)="onChangeHour($event)" revertLabel="Remove" submitLabel="Ok"></material-timepicker>
        <material-timepicker color="primary" label="שעת סיום" appearance="standard" [userTime]="exportTime" (change)="onChangeHour($event)" revertLabel="Remove" submitLabel="Ok"></material-timepicker>
     
        <mat-form-field >
            <input 
            matInput
             [matDatepicker]="picker" 
           
             id="WorkDate"
              placeholder="תאריך עבודה"
               name="workDate"
               formControlName="WorkDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker  #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input 
            type="number"
             matInput  
             id="Amount" 
             placeholder="כמות " 
             name="amount" 
              formControlName="Amount">
        </mat-form-field>
      
        
        <button mat-raised-button type="submit" id="Ok" value="אישור">אישור</button>
    </form>
</mat-card-content>
</mat-card>

      
       
            
               
        
                 
               
