<form  [formGroup]="newOrderForm" (ngSubmit)="onSubmit()" autocomplete="off">

          
  
  
<mat-checkbox

 id="PumpNeeded"  
 name="ConcreteCheck"  
 formControlName="PumpNeeded"
 >האם נדרשת משאבה

</mat-checkbox>
<br>
<div *ngIf="newOrderForm.get('PumpNeeded').value">
<div  *ngFor="let i of MorePumps">
<mat-form-field appearance="fill" >
<mat-label>כלי רכב</mat-label>
<mat-select

id="PumpType" 
placeholder="סוג משאבה"
name="PumpType"  
formControlName="PumpType"    
>
<mat-option *ngFor="let vehicle of VehiclesTypes" >{{vehicle}}</mat-option>

</mat-select>
</mat-form-field>  
</div>
<div class="example-button-container" >
    <button mat-mini-fab color="primary" aria-label="Example icon button with a add icon" (click)="AddPump()">
      <mat-icon>add_circle</mat-icon>
    </button>
 
    <button mat-mini-fab color="primary" aria-label="Example icon button with a remove icon" (click)="RemovePump()">
      <mat-icon>remove_circle
      </mat-icon>
    </button>
  </div>
</div>
</form>
