.menu-spacer {
    flex: 1 1 auto;
  }

  #TopNavBar{
    background-color:rgb(218, 86, 47);
    overflow: hidden;
  
}

.navImg{
  width: 100%;
  height: auto 0;
}



.link{
 font-weight: bold;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: larger;
}
