.menu-spacer {
    flex: 1 1 auto;
  }

  #TopNavBar{
    background-color:orangered;
    overflow: hidden;
  
}

.navImg{
  width: 100%;
  height: auto;
}

.all-wrap {
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  /* > *:not(router-outlet) {
    flex: 1;
    display: block;
  } */
}