<div  fxFlex>

    <div class="example-header">
      <mat-form-field>
        <!-- (change)="addEvent($event.target.value)" -->
        <input matInput (keyup)="applyFilter($event.target.value)"  placeholder="סינון הזמנה לפי מספר , תאריך או כתובת">
      </mat-form-field>
    </div>
    <!-- displayedColumns = [ 'IsApproved', '', 'ManagerComment',
    'Comment', 'ConcreteTest', 'MaterialOrderL']; -->
    <!-- *ngIf="show"  -->
<table  mat-table [dataSource]="dataSource" multiTemplateDataRows class="mTable" matSort>
  <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> מספר הזמנה </th> 
      <td mat-cell *matCellDef="let element"> {{element.Id}}</td>
    </ng-container>
    <ng-container matColumnDef="CustomerName" >
      <th mat-header-cell 
      *matHeaderCellDef>  שם לקוח </th>
      <td mat-cell *matCellDef="let element">{{element.CustomerName}} </td>
    </ng-container>
    <ng-container matColumnDef="OrderDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  תאריך הזמנה </th>
      <td mat-cell *matCellDef="let element"> {{element.OrderDate|date: 'dd/MM/yyyy' }}</td>
    </ng-container>

    <ng-container matColumnDef="SiteAdress" hidden>
      <th mat-header-cell *matHeaderCellDef mat-sort-header > כתובת אתר </th> 
      <td mat-cell *matCellDef="let element"> {{element.SiteAdress}}</td>
    </ng-container>
    <ng-container matColumnDef="OrderDueDate" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header hidden> הזמנה לתאריך </th>
      <td mat-cell *matCellDef="let element" hidden> {{element.OrderDueDate|date: 'dd/MM/yyyy'}}</td>
    </ng-container>

    <ng-container matColumnDef="StartTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header hidden> שעות שימוש</th> 
      <td mat-cell *matCellDef="let element" hidden> {{element.StartTime- element.EndTime}}</td>
    </ng-container>

    <ng-container matColumnDef="IsApproved">
      <th mat-header-cell *matHeaderCellDef mat-sort-header hidden> מאושר </th> 
      <td mat-cell *matCellDef="let element" hidden> {{element.IsApproved}}</td>
    </ng-container>
    <ng-container matColumnDef="IsDone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header hidden> בוצע </th> 
      <td mat-cell *matCellDef="let element" hidden> {{element.IsDone}}</td>
    </ng-container>
    <ng-container matColumnDef="ManagerComment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header hidden> הערות מנהל </th> 
      <td mat-cell *matCellDef="let element" hidden> {{element.ManagerComment}}</td>
    </ng-container>
    <ng-container matColumnDef="Comment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header hidden>הערות</th> 
      <td mat-cell *matCellDef="let element" hidden > {{element.Comment}}</td>
    </ng-container>

    <ng-container matColumnDef="ConcreteTest">
      <th mat-header-cell *matHeaderCellDef mat-sort-header hidden>בדיקת בטון</th> 
      <td mat-cell *matCellDef="let element" hidden> {{element.ConcreteTest}}</td>
    </ng-container>
    <ng-container matColumnDef="MaterialOrderL">
      <th mat-header-cell *matHeaderCellDef mat-sort-header hidden>חומרים</th> 
      <td mat-cell *matCellDef="let element" hidden> {{element.MaterialOrderL}}</td>
    </ng-container>

    
      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef > עריכה/מחיקה</th>
        <td mat-cell *matCellDef="let row">
            <a mat-button matTooltip="Edit" (click)="openDialog('edit',row)" align="right"><mat-icon>create</mat-icon></a>
            <a mat-button matTooltip="Delete" (click)="openDialog('delete',row)" align="right"><mat-icon>delete</mat-icon></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mheader"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
    matRipple class="element-row" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl"></tr>
  </table> 
  <mat-paginator [pageSizeOptions]="[5, 10, 20,100]" showFirstLastButtons></mat-paginator>
</div>

<!-- <div *ngIf="!show">
  <mat-form-field>
    <input type="number" matInput placeholder="הכנס מספר הזמנה" [(ngModel)]="orderNum">
  </mat-form-field>
  <button (click)="getOrderbyId2()">חפש הזמנה</button>

</div> -->

<ng-template #tpl let-element>
  <!-- <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden" fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.sm="center center" fxLayout.sm="column" fxLayout.xs="column"> -->
    <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden; width:100%; padding: 5px;" fxLayout="row" fxLayoutAlign="center center">
    <mat-card > 

      <mat-card-content >
      <h2>חומרים וכלי רכב שהוזמנו:</h2>
      <table mat-table [dataSource]="element.MaterialOrderL">
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef> מספר הזמנת חומר </th> 
          <td mat-cell *matCellDef="let element"> {{element.Id}}</td>
        </ng-container>
        <ng-container matColumnDef="MaterialName" >
          <th mat-header-cell *matHeaderCellDef> שם חומר/משאבה </th> 
          <td mat-cell *matCellDef="let element"> {{element.MaterialName}}</td>
        </ng-container>
        <ng-container matColumnDef="Element">
          <th mat-header-cell *matHeaderCellDef> אלמנט </th> 
          <td mat-cell *matCellDef="let element"> {{element.Element}}</td>
        </ng-container>
        <ng-container matColumnDef="Amount">
          <th mat-header-cell *matHeaderCellDef> כמות </th> 
          <td mat-cell *matCellDef="let element"> {{element.Amount}}</td>
        </ng-container>
        <ng-container matColumnDef="StatusMaterial">
          <th mat-header-cell *matHeaderCellDef> סטטוס </th> 
          <td mat-cell *matCellDef="let element"> {{element.StatusMaterial}}</td>
        </ng-container>
        <ng-container matColumnDef="ManagerComment">
          <th mat-header-cell *matHeaderCellDef> הערות מנהל </th> 
          <td mat-cell *matCellDef="let element"> {{element.ManagerComment}}</td>
        </ng-container>
        <ng-container matColumnDef="PipeLength">
          <th mat-header-cell *matHeaderCellDef >אורך צינור </th> 
          <td mat-cell *matCellDef="let element"> {{element.PipeLength}}</td>
        </ng-container>
      
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef > עריכה/מחיקה</th>
          <td mat-cell *matCellDef="let row">
              <a mat-button matTooltip="Edit" (click)="openDialog('editm',row)" align="right"><mat-icon>create</mat-icon></a>
              <a mat-button matTooltip="Delete" (click)="openDialog('deletem',row)" align="right"><mat-icon>delete</mat-icon></a>
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displaydColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displaydColumns1;"></tr>
        </table> 
  
     
        <br>
        <mat-divider></mat-divider>
        <h3>פרטי הזמנה</h3>
        <ng-container >
          <span>:כתובת הזמנה</span> 
           {{element.SiteAdress}} 
        </ng-container>
      <br>
        <ng-container>
        <span> :הזמנה לתאריך </span>
          {{element.OrderDueDate| date: 'dd/MM/yyyy' }} 
        </ng-container>   
        <br>
        <ng-container>
          <span>:שעות שימוש</span>
       {{element.StartTime }} - {{element.EndTime }}
        </ng-container> 
        <br>
        <ng-container>
         <span>:בדיקת בטון </span>
         {{element.ConcreteCheck}}
        </ng-container>
        <br>
        <ng-container>
         <span>הזמנה מאושרת:</span>
         {{element.IsApproved}}
        </ng-container>
     
       






        <!-- *ngIf="element.MaterialOrderL.length>0" -->
        <!-- <table  mat-table [dataSource]="element.MaterialOrderL">
          <ng-container matColumnDef="{{innerColumn}}" *ngFor="let innerColumn of displaydColumns1;let i=index">
            <th mat-header-cell *matHeaderCellDef > {{hebrewCol[i]}} </th>
            <td mat-cell *matCellDef="let element"> {{element[innerColumn]}} </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef > עריכה/מחיקה</th>
            <td mat-cell *matCellDef="let row">
                <a mat-button matTooltip="Edit" (click)="openDialog('editm',row)" align="right"><mat-icon>create</mat-icon></a>
                <a mat-button matTooltip="Delete" (click)="openDialog('deletem',row)" align="right"><mat-icon>delete</mat-icon></a>
            </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displaydColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: displaydColumns1;"></tr>
        </table> -->
      </mat-card-content>
    </mat-card>

   
    

 

  
    
     
    </div>
  </ng-template>
