
<section id="AddVehicle">
    <mat-card>
        <mat-card-title >כלי רכב חדש</mat-card-title>
    <mat-card-content>
    <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="addVehicleForm" (ngSubmit)="onSubmit()" autocomplete="off">
    
    
        <mat-form-field appearance="fill">
            <mat-label>כלי רכב</mat-label>
            <mat-select
            formControlName="Description"
            >
              <mat-option *ngFor="let vehicle of VehiclesTypes" >{{vehicle}}</mat-option>
          
            </mat-select>
          </mat-form-field>
        <mat-form-field>
            <input
             type="PipesLength" 
             matInput
              id="PipesLength" 
             placeholder="אורך צינור"
              name="PipesLengh"  
              formControlName="PipesLength">
           
        </mat-form-field>
        <mat-form-field>
            <input
             type="LicenseNumber" 
             matInput
              id="LicenseNumber" 
             placeholder="מספר רכב"
              name="LicenseNumber"  
              formControlName="LicenseNumber">
            
        </mat-form-field>
        <mat-form-field>
            <input
             type="DriverId" 
             matInput
              id="DriverId" 
             placeholder="נהג"
              name="DriverId"  
              formControlName="DriverId">
            
        </mat-form-field>
        <mat-form-field>
            <input
             type="MixerNumber" 
             matInput
              id="MixerNumber" 
             placeholder="מספר מיקסר"
              name="MixerNumber"  
              formControlName="MixerNumber">
           
        </mat-form-field>
        <button mat-raised-button type="submit" id="Ok" value="אישור">אישור</button>
    </form>
</mat-card-content>
</mat-card>
</section>

      