

<section id="NewOrder">
  <mat-card>
    <mat-card-title >הזמנה חדשה</mat-card-title>
<mat-card-content>
    <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="newOrderForm" (ngSubmit)="onSubmit(newOrderForm)" autocomplete="off">
        <mat-form-field >
            <input 
            matInput
             [matDatepicker]="picker" 
             id="OrderDate"
              placeholder="תאריך הזמנה"
               name="orderDate"
               formControlName="OrderDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker  #picker></mat-datepicker>
          </mat-form-field>
          <material-timepicker
          color="primary"
           label="שעת התחלה"
            appearance="standard"
             [userTime]="exportTime" 
             (change)="onChangeHour($event)" 
             revertLabel="Remove"
              submitLabel="Ok">            
              <input
              matInput 
               id="OrderTime" 
                name="orderTime"  
                formControlName="OrderTime"
                >
         <mat-hint ></mat-hint>
             </material-timepicker>


         <mat-form-field>
            <input
              matInput 
               id="Element" 
               placeholder="אלמנט"
                name="Element"  
                formControlName="Element"
                >
         <mat-hint ></mat-hint>
        </mat-form-field>
         <mat-form-field>
            <input
              matInput 
               id="SiteAdress" 
               placeholder="כתובת אתר "
                name="SiteAdress"  
                formControlName="SiteAdress"
                >
         <mat-hint ></mat-hint>
     </mat-form-field>
     <mat-form-field>
        <input
          matInput 
           id="ConcreteCheck" 
           placeholder="האם נדרשת בדיקת בטון"
            name="ConcreteCheck"  
            formControlName="ConcreteCheck"
            >
     <mat-hint ></mat-hint>
 </mat-form-field>

 


 <mat-form-field>
    <input
      matInput 
       id="PumpNeeded" 
       placeholder="האם נדרשת משאבה"
        name="PumpNeeded"  
        formControlName="PumpNeeded"
        >
 <mat-hint ></mat-hint>
</mat-form-field>


<mat-form-field appearance="fill">
  <mat-label>כלי רכב</mat-label>
  <mat-select

       id="PumpType" 
       placeholder="סוג משאבה"
        name="PumpType"  
        formControlName="PumpType"
       
  >
    <mat-option *ngFor="let vehicle of VehiclesTypes" >{{vehicle}}</mat-option>

  </mat-select>
</mat-form-field>  
        <button mat-raised-button type="submit" id="Ok" value="אישור">אישור</button>
    </form>
  </mat-card-content>
</mat-card>
</section>