

<section id="NewOrder">
  <mat-card>
    <mat-card-title >הזמנה חדשה</mat-card-title>
<mat-card-content>
    <form [formGroup]="newOrderForm" (ngSubmit)="onSubmit()" autocomplete="off">
       
          <mat-form-field>
            <input
              matInput 
               id="SiteAdress" 
                name="SiteAdress"  
                formControlName="SiteAdress"
                >
                <label>כתובת אתר</label>
         <mat-hint ></mat-hint>
     </mat-form-field>

     <mat-form-field >
            <input 
            matInput
             [matDatepicker]="picker" 
             id="OrderDueDate"
               name="orderDueDate"
               formControlName="OrderDueDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker  #picker></mat-datepicker>
            <label>הזמנה לתאריך</label>
          </mat-form-field>


          <!-- <material-timepicker
          color="primary"
           label="שעת התחלה"
            appearance="standard"
             [userTime]="exportTime" 
             (change)="onChangeHour($event)" 
             revertLabel="Remove"
              submitLabel="Ok">            
              <input
              matInput 
               id="StartTime" 
                name="StartTime"  
                formControlName="StartTime"
                >
         <mat-hint ></mat-hint>
             </material-timepicker> -->

             <mat-form-field>
              <input
                  matInput
                  aria-label="default time"
                  [ngxTimepicker]="defaultValue"
                  [ngxMaterialTimepickerTheme]
                  [value]="'0:00 am'"
                  id="StartTime" 
                  name="StartTime"  
                  formControlName="StartTime"
               />
               
               <ngx-material-timepicker #defaultValue >
               </ngx-material-timepicker>
               <label>זמן התחלה</label>
          </mat-form-field>

          <mat-form-field>
            <input
                matInput
                aria-label="default time"
                [ngxTimepicker]="defaultValue"
                [value]="'0:00 am'"
                id="EndTime" 
                name="EndTime"  
                formControlName="EndTime"
             />
             <ngx-material-timepicker #defaultValue1>
             </ngx-material-timepicker>
  <label>זמן סיום</label>
        </mat-form-field>


             <!-- <material-timepicker
             color="primary"
              label="שעת סיום"
               appearance="standard"
                [userTime]="exportTime" 
                (change)="onChangeHour($event)" 
                revertLabel="Remove"
                 submitLabel="Ok">            
                 <input
                 matInput 
                  id="EndTime" 
                   name="EndTime"  
                   formControlName="EndTime"
                   >
            <mat-hint ></mat-hint>
                </material-timepicker> -->


         <!-- <mat-form-field>
            <input
              matInput 
               id="Element" 
               placeholder="אלמנט"
                name="Element"  
                formControlName="Element"
                >
         <mat-hint ></mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput 
            type="number"
             id="Amount" 
      placeholder="כמות"
              name="amount"  
              formControlName="Amount"
              >
       <mat-hint ></mat-hint>
      </mat-form-field> -->
        

        <mat-checkbox
         
           id="ConcreteTest" 
            name="ConcreteTest"  
            formControlName="ConcreteTest"
            >האם נדרשת בדיקת בטון
          </mat-checkbox>
      
      <br>

   <app-order-details *ngFor="let OrderDetails of OrderDetail,let i"  (newItemEvent)="addItem($event,i)"></app-order-details>  
<div class="example-button-container">
  <button mat-mini-fab color="primary" aria-label="Example icon button with an add icon" (click)="AddMaterial()">
    <!-- <mat-icon>add_circle</mat-icon> -->
  </button>

  <button mat-mini-fab color="primary" aria-label="Example icon button with a remove icon" (click)="RemoveMaterial()">
    <!-- <mat-icon>remove_circle</mat-icon> -->
  </button>
</div>

  <mat-checkbox

 id="IsPump"  
 name="IsPump"  
 formControlName="IsPump"
 >האם נדרשת משאבה

</mat-checkbox>
<div *ngIf="newOrderForm.get('IsPump').value">
<app-order-pump *ngFor="let PumpType of PumpDetail,let i"  (newItemEvent)="addPump($event,i)" ></app-order-pump>

<div class="example-button-container" >
  <button mat-mini-fab color="primary" aria-label="Example icon button with a add icon" (click)="AddPump()">
    <mat-icon>add_circle</mat-icon>
  </button>

  <button mat-mini-fab color="primary" aria-label="Example icon button with a remove icon" (click)="RemovePump()">
    <mat-icon>remove_circle
    </mat-icon>
  </button>
</div>
</div>
<mat-form-field>
  <input
    matInput 
     id="Comment" 
     placeholder="הערות "
      name="comment"  
      formControlName="Comment"
      >
<mat-hint ></mat-hint>
</mat-form-field>
        <button mat-raised-button type="submit" id="Ok" value="אישור">אישור</button>
   
  
</form>
  </mat-card-content>
</mat-card>
</section>
