
     <form [formGroup]="newOrderDetailsForm" autocomplete="off" (change)="selectedMaterial()">
      <label id="example-radio-group-label">הזמנת כלי רכב וחומרים</label>
        <!-- //מערך לפי קטוגריה -->
        <mat-form-field appearance="fill" >
          <mat-label>קטגוריות</mat-label>
          <mat-select
          id="CategoryId" 
            name="CategoryId"  
          >
             
         
          
          <mat-option *ngFor="let category of CategoryL,let i=index" [value]="category.Id" (click)="selected(category.Id)">{{category.Name}}</mat-option>
           
          </mat-select>
          </mat-form-field>  

 <!-- //הערכים-->
     
    <mat-form-field appearance="fill">
    <mat-label>בחירת חומר</mat-label>
     <mat-select
  
    id="MaterialId" 
     name="MaterialId"  
     formControlName="MaterialId" 
    
  >
  
    <mat-option *ngFor="let material of EzerMaterialL,let i" [value]="material.Id" (click)="selectMayko(material)"> {{material.Name}}</mat-option>
  
  </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="show!=false">
    <input
    matInput 
    type="number"
     id="PipeLength" 
placeholder="אורך צינור"
      name="PipeLength"  
      formControlName="PipeLength"
      >
  </mat-form-field>
  
           <mat-form-field>
              <input
                matInput 
                 id="Element" 
                 placeholder="אלמנט"
                  name="Element"  
                  formControlName="Element"
                  >
                  <mat-error *ngIf="newOrderDetailsForm.get('Element').hasError('required')" >שדה חובה</mat-error> 
           <mat-hint ></mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput 
              type="number"
               id="Amount" 
        placeholder="כמות"
                name="amount"  
                formControlName="Amount"
                >
                <!-- (change)="setVal($event)" -->
                <mat-error *ngIf="newOrderDetailsForm.get('Amount').hasError('required')" >בחר כמות חומר</mat-error> 
         <mat-hint ></mat-hint>
        </mat-form-field>
   
</form>
