
     <form [formGroup]="newOrderDetailsForm" autocomplete="off">
      <label id="example-radio-group-label">הזמנת כלי רכב וחומרים</label>
        <!-- //מערך לפי קטוגריה -->
        <mat-form-field appearance="fill" >
          <mat-label>קטגוריות</mat-label>
          <mat-select
          
         
          >
          <mat-option *ngFor="let category of CategoryL,let i" [value]="category.Id" (click)="selected(category.Id)">{{category.Name}}</mat-option>
          
          </mat-select>
          </mat-form-field>  

 <!-- //הערכים-->
     
    <mat-form-field appearance="fill">
    <mat-label>בחירת חומר</mat-label>
     <mat-select
  
    id="MaterialId" 
     name="MaterialId"  
     formControlName="MaterialId"    
  >
    <mat-option *ngFor="let material of EzerMaterialL,let i" [value]="material" (click)="selectedMaterial(material.Id)">{{material.Name}}</mat-option>
  
  </mat-select>
  </mat-form-field>
  
           <mat-form-field>
              <input
                matInput 
                 id="Element" 
                 placeholder="אלמנט"
                  name="Element"  
                  formControlName="Element"
                  >
           <mat-hint ></mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput 
              type="number"
               id="Amount" 
        placeholder="כמות"
                name="amount"  
                formControlName="Amount"
                (change)="setVal($event)"
                >
         <mat-hint ></mat-hint>
        </mat-form-field>
   
</form>
