<section id="ProviderUpdate">
    <mat-card>
        <mat-card-title >עריכת ספק</mat-card-title>
    <mat-card-content>
    <form  [formGroup]="updateForm" autocomplete="off">
        <mat-form-field>
            <input
             type="text"
              matInput 
               id="CompanyCode" 
               placeholder="תעודת זהות"
                name="companyCode"  
                formControlName="CompanyCode"
              >
        </mat-form-field>
        <mat-form-field>
            <input 
            type="text"
             matInput  
             id="CompanyName" 
             placeholder="שם חברה" 
             name="companyName" 
              formControlName="CompanyName">
        </mat-form-field>
        <mat-form-field>
            <input 
            type="text"
             matInput 
              id="Adress"
               placeholder="כתובת"
                name="adress" 
                 formControlName="Address">
        </mat-form-field>
        
        <mat-form-field>
            <input 
            type="text" 
            matInput 
            id="Phone"
             placeholder="טלפון" 
             name="phone"
              formControlName="PhoneNumber" 
            >
        </mat-form-field>
        <mat-form-field>
            <input 
            type="text"
             matInput id="CellPhone" 
             placeholder="פלאפון"
              name="cellphone" 
               formControlName="CellNumber"
              >
        </mat-form-field>
        <mat-form-field>
            <input
             type="email" 
             matInput id="Email"
              placeholder="מייל" 
              name="email" 
              formControlName="Email">
        </mat-form-field>
     
        <mat-form-field>
            <input
             type="text" 
             matInput
              id="UserName" 
              placeholder="שם משתמש" 
              name="username"
                formControlName="UserName">
                 <mat-error *ngIf="!updateForm.get('UserName').hasError('required')||updateForm.get('UserName').hasError('UserNameMValid')">שם משתמש כבר קיים במערכת</mat-error>
        </mat-form-field> 
         <mat-form-field>
            <input
             type="password" 
             matInput
              id="Password" 
             placeholder="סיסמא" 
             name="password"  
             formControlName="Password">
        </mat-form-field> 
        <!-- <mat-form-field>
            <input
             type="text" 
             matInput
              id="Comments" 
             placeholder="הערות" 
             name="comments"  
             formControlName="Comments">
        </mat-form-field>  -->

        <button mat-raised-button type="submit" [mat-dialog-close]="updateForm"id="Ok" value="אישור">אישור</button>
    </form>
</mat-card-content>
</mat-card>
</section> 

      
       
            
               
        
                 
  
