<section id="CustomerUpdate">
    <mat-card>
      <mat-card-title >עריכת לקוח</mat-card-title>
  <mat-card-content>
      <form  [formGroup]="updateForm"  autocomplete="off">
          <mat-form-field>
              <input
               type="text"
                matInput 
                 id="Tz" 
                 placeholder="תעודת זהות"
                  name="tz"  
                  formControlName="IdentityNumber"
  
                >
           <mat-hint>הקש תעודת זהות כולל ספרת ביקןרת</mat-hint>
        <mat-hint  align="end" >{{updateForm.get('IdentityNumber').value?.length}}/9</mat-hint>
        <mat-error *ngIf="updateForm.get('IdentityNumber').hasError('required')" >נא הכנס ת"ז</mat-error> 
        <mat-error *ngIf="!updateForm.get('IdentityNumber').hasError('required')||updateForm.get('IdentityNumber').hasError('minlength')||updateForm.get('IdentityNumber').hasError('maxlength')||updateForm.get('IdentityNumber').hasError('israeliIdOk')">תעודת זהות לא תקינה</mat-error>  
   
          </mat-form-field>
          <mat-form-field>
              <input 
              type="text"
               matInput  
               id="Fname" 
               placeholder="שם פרטי" 
               name="fname" 
                formControlName="FirstName">
          </mat-form-field>
          <mat-form-field>
              <input 
              type="text" 
              matInput id="Lname" 
              placeholder="שם משפחה" 
              name="lname"
                formControlName="LastName">
          </mat-form-field>
          <mat-form-field>
            <input 
            type="text"
             matInput  
             id="CompanyName" 
             placeholder="חברה" 
             name="companyName" 
              formControlName="CompanyName">
        </mat-form-field>
        <mat-form-field>
            <input 
            type="text" 
            matInput 
            id="BusinessCode" 
            placeholder="קוד חברה" 
            name="businessCode"
              formControlName="BusinessCode">
        </mat-form-field>
          <mat-form-field>
              <input
               type="email" 
               matInput id="Email"
                placeholder="מייל" 
                name="email" 
                
             
                formControlName="Email">
          </mat-form-field>
          <mat-form-field>
              <input 
              type="text" 
              matInput 
  
              id="Phone"
               placeholder="טלפון" 
               name="phone"
                formControlName="PhoneNumber" 
              >
          </mat-form-field>
          <mat-form-field>
              <input 
              type="text"
               matInput id="CellPhone" 
               placeholder="פלאפון"
                name="cellphone" 
                 formControlName="CellNumber"
                >
          </mat-form-field>
          <mat-form-field>
              <input 
              type="text"
               matInput 
                id="Adress"
                 placeholder="כתובת"
                  name="adress" 
                   formControlName="Address">
          </mat-form-field>
          <mat-form-field >
              <input 
              matInput
               [matDatepicker]="picker" 
             
               id="BirthDate"
                placeholder="תאריך לידה"
                 name="birthdate"
                 formControlName="BirthDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker  #picker></mat-datepicker>
            </mat-form-field>
        
          <mat-form-field>
              <input
               type="text" 
               matInput
                id="UserName" 
                placeholder="שם משתמש" 
                name="username"
                  formControlName="UserName">
                  <mat-error *ngIf="!updateForm.get('UserName').hasError('required')||updateForm.get('UserName').hasError('UserNameMValid')">שם משתמש כבר קיים במערכת</mat-error>
   
          </mat-form-field> 
           <mat-form-field>
              <input
               type="text" 
               matInput
                id="Password" 
               placeholder="סיסמא" 
               name="password"  
               formControlName="Password">
          </mat-form-field> 
          <button mat-raised-button type="submit" [disabled]='updateForm.invalid'  [mat-dialog-close]='updateForm' id="Ok" value="אישור">אישור</button>
      </form>
    </mat-card-content>
  </mat-card>
  </section>
