<div  fxFlex>
    <div class="example-header">
      <mat-form-field>
        <!-- (change)="addEvent($event.target.value)" -->
        <input matInput (keyup)="applyFilter($event.target.value)"  placeholder="סינון לפי קוד לקוח , שם או כתובת">
      </mat-form-field>
    </div>
<table  mat-table [dataSource]="dataSource" multiTemplateDataRows class="mTable" matSort aria-label="Elements">
  <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> קוד לקוח</th> 
      <td mat-cell *matCellDef="let element"> {{element.Id}}</td>
    </ng-container>
    <ng-container matColumnDef="IdentityNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  מספר ת.ז. </th>
      <td mat-cell *matCellDef="let element"> {{element.IdentityNumber}}</td>
    </ng-container>
    <ng-container matColumnDef="FirstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> שם פרטי</th>
      <td mat-cell *matCellDef="let element"> {{element.FirstName}}</td>
    </ng-container>
    <ng-container matColumnDef="LastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  שם משפחה </th>
      <td mat-cell *matCellDef="let element"> {{element.LastName}}</td>
    </ng-container>
    <ng-container matColumnDef="BusinessCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  קוד חברה </th>
        <td mat-cell *matCellDef="let element"> {{element.BusinessCode}}</td>
      </ng-container>
      <ng-container matColumnDef="CompanyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  שם חברה </th>
        <td mat-cell *matCellDef="let element"> {{element.CompanyName}}</td>
      </ng-container>
    <ng-container matColumnDef="Email">
      <th mat-header-cell 
      *matHeaderCellDef mat-sort-header hidden>  אימייל </th>
      <td mat-cell *matCellDef="let element" hidden>{{element.Email}} </td>
    </ng-container>
    <ng-container matColumnDef="PhoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header hidden>  מס' טלפון</th>
      <td mat-cell *matCellDef="let element" hidden>{{element.PhoneNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="CellNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header hidden>מס' פלאפון</th>
      <td mat-cell *matCellDef="let element" hidden>{{element.CellNumber }}</td>
    </ng-container>
    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header hidden>  כתובת </th>
      <td mat-cell *matCellDef="let element" hidden>{{element.Address}}</td>
    </ng-container>
    <ng-container matColumnDef="BirthDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header hidden> תאריך יום הולדת</th>
      <td mat-cell *matCellDef="let element" hidden>{{element.BirthDate| date:'MM-dd-yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="UserName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header hidden> שם משתמש</th>
        <td mat-cell *matCellDef="let element" hidden>{{element.UserName}}</td>
      </ng-container>    
      <ng-container matColumnDef="Password">
        <th mat-header-cell *matHeaderCellDef mat-sort-header hidden> סיסמא</th>
        <td mat-cell *matCellDef="let element" hidden>{{element.Password}}</td>
      </ng-container>
      <ng-container matColumnDef="IsActive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header hidden> פעיל/לא פעיל</th>
        <td mat-cell *matCellDef="let element" hidden>{{element.IsActive}}</td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="EditDelete">
        <th mat-header-cell *matHeaderCellDef > עריכה/מחיקה</th>
        <td mat-cell *matCellDef="let row">
           <a mat-button matTooltip="Edit" (click)="openDialog('edit',row)" align="right"><mat-icon>create</mat-icon></a>
            <a mat-button matTooltip="Delete" (click)="openDialog('delete',row)" align="right"><mat-icon>delete</mat-icon></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mheader"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
      matRipple class="element-row" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl"></tr>
  </table> 
  <mat-paginator [pageSizeOptions]="[5, 10, 20,100]" showFirstLastButtons></mat-paginator>
</div>

<ng-template #tpl let-element>
  <div class="mat-row detail-row" [@detailExpand]>
     
  <mat-card > 
  
      <mat-card-title >פרטים</mat-card-title>
      <mat-card-content > 
  
        <div><span>אימייל</span><br>
          {{element.Email}} &nbsp;&nbsp;
        </div>
        <div><span>מס' טלפון</span>
          {{element.PhoneNumber}}  &nbsp;
        </div>
        <div><span>מס' פלאפון</span>
          {{element.CellNumber}} 
        </div>
        <div><span>כתובת</span><br>
          {{element.Address}}
        </div>
        <div><span>תאריך יום הולדת</span>
          {{element.BirthDate| date:'MM-dd-yyyy'}}
        </div>

        <div><span>תחילת עבודה</span>
          {{element.EntryToWorkDate}}</div>
  
        <div><span>שם משתמש</span>
          {{element.UserName}}
        </div>
  
          <div><span>סיסמא</span>
            {{element.Password}}
          </div>

          <div><span>נהג פעיל</span>
          {{element.IsActive}}</div>
      </mat-card-content>
      </mat-card>
         
     
    </div>
  </ng-template>

<ng-template #deleteCust>
  <mat-dialog-content> <p>האם לשנות לקוח ללא פעיל?</p></mat-dialog-content>
  <mat-dialog-actions>
  <button mat-button [mat-dialog-close]='true' color="primary"> כן</button>
  <button mat-button [mat-dialog-close]='false' color="primary"> לא</button>
  </mat-dialog-actions>
  </ng-template>`

