<mat-toolbar dir="rtl">

    <mat-toolbar-row>       
  <!-- <mat-bottom-sheet > -->
  
      <mat-list fxLayoutAlign="center" fxLayout="row" fxLayout.lg="row"fxLayout.sm="row" fxLayout.xs="column">
        <!-- fxLayout.sm="column" fxLayout.xs="column"  -->
        <mat-list-item>
            <div  class="footer-list" > 
              <!-- class="mat-grid-text" -->
                <h6 class="footerTitle">אודות</h6>
                <p >
                  <a [routerLink]="['/home']" class="link">MDBootstrap</a>
                </p>
                <p>
                  <a [routerLink]="['/home']" class="link">MDWordPress</a>
                </p>
                <p>
                  <a [routerLink]="['/home']" class="link">BrandFlow</a>
                </p>
                <p>
                  <a [routerLink]="['/home']" class="link">Bootstrap Angular</a>
                </p></div>
          </mat-list-item>

      <mat-list-item>
        <div  class="footer-list"> 
          <!-- class="mat-grid-text" -->
            <h6 class="footerTitle">שירותים</h6>
            <p>
              <a [routerLink]="['/home']" class="link">לקוחות</a>
            </p>
            <p>
              <a [routerLink]="['/home']" class="link">חומרי בניה</a>
            </p>
            <p>
              <a [routerLink]="['/home']" class="link">פרוייקטים</a>
            </p>
            <p>
              <a [routerLink]="['/home']"class="link" >עזרה</a>
            </p>
          </div>
      </mat-list-item>

      <mat-list-item>
        <div  class="footer-list"> 
          <!-- class="mat-grid-text" -->
                <h6 class="footerTitle">צור קשר</h6>
                <p class="company">
                    ש.ח.ל.ב חומרי בניין בע"מ
                      <br>03-5701262
                      <br> email - infon@.com
                    </p></div>
      </mat-list-item>
  </mat-list>

  <!-- </mat-bottom-sheet> -->
    </mat-toolbar-row>

    <mat-toolbar-row  fxLayoutAlign="center" style="margin-top: 250px; color:rgb(92, 116, 124) ;">
      <div class="allRights">
        <span >ALL RIGHTS RESERVED</span>
        <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon> -->
        <span class="material-icons" style="margin-top: 3px;">
          copyright
          </span>
        </div>
      </mat-toolbar-row>

  
  </mat-toolbar>

  <!-- <md-bottom-sheet class="md-grid" layout="column" ng-cloak>
    <div>
      <md-list flex layout="row" layout-align="center center">
        <md-list-item ng-repeat="item in items">
          <div class="md-grid-text"> {{ item.name }} </div>
        </md-list-item>
      </md-list>px
    </div>
  </md-bottom-sheet> -->