

<section id="AddMaterial">
    <mat-card>
        <mat-card-title >הוסף חומר</mat-card-title>
    <mat-card-content>
    <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="addMaterialForm" (ngSubmit)="onSubmit()" autocomplete="off">
    
    
        <mat-form-field>
            <input
             type="text" 
             matInput
              id="Name" 
             placeholder=" חומר"
              name="name"  
              formControlName="Name">
            
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>סוג חומר </mat-label>
            <mat-select
            
            id="Type" 
            placeholder="סוג חומר"
            name="Type"  
            formControlName="Type"
            
            >
            <mat-option *ngFor="let type of Types,let index" value=index >{{type}}</mat-option>
            
            </mat-select>
            </mat-form-field> 
        <button mat-raised-button type="submit" id="Ok" value="אישור">אישור</button>
    </form>
</mat-card-content>
</mat-card>
</section>

      
