<h1 mat-dialog-title> עריכת הזמנה</h1>
<mat-dialog-content *ngIf="this.passObj.passAction==='edit'" fxLayout="column" fxLayoutAlign="center">
    <br>
    <mat-form-field>
        <mat-label>(כתובת הזמנה (עיר, רחוב ומיקוד</mat-label>
        <input type="text" matInput placeholder="{{this.passObj.passData.SiteAdress}}"
               [(ngModel)]="this.passObj.passData.SiteAdress" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>הזמנה לתאריך</mat-label>
        <input type="datetime-local" matInput placeholder="{{this.passObj.passData.OrderDueDate}} | date:'dd/MM/yyyy'"
               [(ngModel)]="this.passObj.passData.OrderDueDate" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>שעת התחלת שימוש</mat-label>
        <input type="time" matInput placeholder="{{this.passObj.passData.StartTime}}"
               [(ngModel)]="this.passObj.passData.StartTime" required onfocusout="checkDate()">
    </mat-form-field>
    <mat-form-field>
        <mat-label>שעת סיום שימוש</mat-label>
        <input type="time" matInput placeholder="{{this.passObj.passData.EndTime}}"
               [(ngModel)]="this.passObj.passData.EndTime" required>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="this.passObj.passData.ConcreteCheck" color="primary">
        <mat-label>בדיקת בטון</mat-label>
    </mat-checkbox>
    <mat-form-field>
        <mat-label>הערות</mat-label>
        <input type="text" matInput placeholder="{{this.passObj.passData.Comment}}"
               [(ngModel)]="this.passObj.passData.Comment" required>
    </mat-form-field>

    <mat-dialog-actions>
        <mat-label style="color:red">שים לב בעת שמירה תאריך ההזמנה ישתנה לתאריך של היום וכן אנו צריכים לאשר את
            ההזמנה מחדש*.
        </mat-label>
        <br>
        <button mat-button [mat-dialog-close]='this.passObj' color="primary"> שמירה</button>
        <button mat-button [mat-dialog-close]='false' color="primary"> ביטול</button>
    </mat-dialog-actions>
</mat-dialog-content>
<div *ngIf="this.passObj.passAction==='delete'">
    <mat-dialog-content><p>האם למחוק הזמנה?</p></mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]='true' color="primary"> כן</button>
        <button mat-button [mat-dialog-close]='false' color="primary"> לא</button>
    </mat-dialog-actions>

</div>
<mat-dialog-content *ngIf="this.passObj.passAction==='editm'">

    <h2>חומר הזמנה</h2>
</mat-dialog-content>
